In [2]:
import pandas as pd

In [4]:
# 1- Load, 2- Remove duplicates & drop NAs
# 0 - hate speech 1 - offensive language 2 - neither
df = pd.read_csv('../data/as download/HS_OL.csv').dropna().drop_duplicates()

# Rename columns
df = df.rename(columns={'class': 'HateLabel', 'tweet': 'TweetText'}).drop(columns=['count','hate_speech','offensive_language','neither','Unnamed: 0'])
relabel = {0:2,1:1,2:0}

df.replace({'HateLabel': relabel}, inplace=True)
df.sample(10)
df = df.sort_values('HateLabel')
# df.to_csv('additional_dataset.csv')

In [6]:
df.head(20)

       HateLabel                                          TweetText
0              0  !!! RT @mayasolovely: As a woman you shouldn't...
10416          0  I had froyo with brownies for dinner tonight. ...
10402          0  I grew to hate blonde and primary colored weav...
10391          0  I got to get the trash out and make breakfast ...
10372          0                     I got my eyes on this red bone
10360          0    I got dirty birds hey shoot like Larry bird hey
10353          0  I got a uncle through marriage dude got hips l...
10325          0         I get a 50 pound bag of dawg for the mutts
10310          0          I from the planet of apes king Kong clips
10309          0  I found your arm in that trash receptacle and ...
10302          0  I find it amusing that Senator @tedcruz is an ...
10296          0  I feel utterly retarded. Thanks big brother&#1...
10424          0  I hate "chunky" pasta sauce. KEEP PESKY VEGETA...
10270          0  I dont understand rich people who dress like t...
10251          0  I don't want to deal with yesterday's trash! T...
10235          0  I don't own any #Onslaught on #Vinyl I may hav...
10222          0  I don't know what's more stressful, midterms o...
10221          0  I don't know what you been told but I love the...
10190          0  I don't blame Crash for not sharing with you @...
10186          0         I don&#8217;t talk trash regarding sports.

In [110]:
first_ds = pd.read_csv('../data/twitter_davinci_ds.csv').drop(columns=['LangID','Unnamed: 0'])
first_ds.sample()

       TopicID  HateLabel                                          TweetText
42729      0.0        0.0  If your church is hosting a Trump rally, you d...

In [111]:
first_ds['TopicID'].value_counts()

1.0    14667
3.0    13636
4.0    12295
2.0    12171
0.0    11080
Name: TopicID, dtype: int64

In [98]:
concat_df = pd.concat([first_ds,df],axis=0)
concat_df.sample(5)
concat_df.to_csv('../data/concat_df.csv')

In [1]:
first_ds

NameError: name 'first_ds' is not defined