In [1]:
import pandas as pd

In [112]:
# 1- Load, 2- Remove duplicates & drop NAs
# 0 - hate speech 1 - offensive language 2 - neither
df = pd.read_csv('../data/HS_OL.csv').dropna().drop_duplicates()

# Rename columns
df = df.rename(columns={'class': 'HateLabel', 'tweet': 'TweetText'}).drop(columns=['count','hate_speech','offensive_language','neither','Unnamed: 0'])
relabel = {0:2,1:1,2:0}

df.replace({'HateLabel': relabel}, inplace=True)
df.sample(10)
df = df.sort_values('HateLabel')
# df.to_csv('additional_dataset.csv')

In [116]:
df.sample(4)

       HateLabel                                          TweetText
20545          2  Roses be red\nOrchids be bigger \nDonts tell y...
20518          1  Reminiscin on my swinger days, when I drove a ...
22040          0  This fuzzy wuzzy kitten wants to know how a ra...
16618          2  RT @Nekkohbk: I stopped caring about mcm when ...

In [110]:
first_ds = pd.read_csv('../data/twitter_davinci_ds.csv').drop(columns=['LangID','Unnamed: 0'])
first_ds.sample()

       TopicID  HateLabel                                          TweetText
42729      0.0        0.0  If your church is hosting a Trump rally, you d...

In [111]:
first_ds['TopicID'].value_counts()

1.0    14667
3.0    13636
4.0    12295
2.0    12171
0.0    11080
Name: TopicID, dtype: int64

In [98]:
concat_df = pd.concat([first_ds,df],axis=0)
concat_df.sample(5)
concat_df.to_csv('../data/concat_df.csv')