In [38]:
import pandas as pd

In [39]:
# Our former HateLabel dataset
concat_df = pd.read_csv('../data/prepped/concat_df.csv')
concat_df['HateLabel'].value_counts()

0.0    48931
1.0    28843
2.0    10858
Name: HateLabel, dtype: int64

In [187]:
# Our former TopicID dataset
twitter_davinci = pd.read_csv('../data/prepped/twitter_davinci_ds.csv')
twitter_davinci['TopicID'].value_counts()

1.0    14667
3.0    13636
4.0    12295
2.0    12171
0.0    11080
Name: TopicID, dtype: int64

In [51]:
# Adding Nassl to the mix for TopicID
nassl_df = pd.read_csv('../data/prepped/nassl_sex_race.csv', index_col=0)
nassl_df.head(1)

              TweetID  TopicID
0  572342978255048705        2

In [188]:
# Loading Nassl with the twitter API fetched TweetText
nassl_twitter = pd.read_csv('../data/prepped/nassl_twitter_api_data.csv').dropna()
nassl_twitter.head(1)

,TweetID,TopicID,TweetText
0,572342978255048705,2.0,So Drasko just said he was impressed the girls...

In [189]:
pr_hatecheck = pd.read_csv('../data/prepped/paulrott_hatel2_topics.csv', index_col=0)
pr_hatecheck['TopicID'].value_counts()

5    610
1    311
6    311
0    311
3    299
2    299
Name: TopicID, dtype: int64

In [44]:
pr_hatecheck.HateLabel.value_counts()

2    1499
0     642
Name: HateLabel, dtype: int64

In [58]:
df_davidson = pd.read_csv('../data/prepped/df_davidson_hatelabel2.csv', index_col=0)
df_davidson.head(1)

   HateLabel                                          TweetText
0          2  !!! RT @mayasolovely: As a woman you shouldn't...

In [59]:
dhg_hatelabel = pd.read_csv('../data/prepped/dhg_hatelabel.csv', index_col=0)
dhg_hatelabel.head(1)

             TweetText  HateLabel
0  dalits are lowlives          2

In [48]:
hatelabel_data = pd.concat([concat_df, df_davidson,pr_hatecheck,dhg_hatelabel,x_hate_ds])
hatelabel_data.HateLabel.value_counts()
# hatelabel_data.to_csv('../data/prepped/new_complete_hatelabel.csv')

### Concatenating TopicID data

In [219]:
dhg_topic = pd.read_csv('../data/prepped/dhg_topicID.csv')

In [220]:
dhg_topic.TopicID.value_counts()

2    22494
1     1744
5      728
3      601
0       22
6        2
Name: TopicID, dtype: int64

In [227]:
topicID_data = pd.concat([twitter_davinci,pr_hatecheck, nassl_twitter,dhg_topic])
topicID_data.head(3)

,Unnamed: 0,LangID,TopicID,HateLabel,TweetText,TweetID
0,0,1.0,1.0,0.0,You know maybe doing a “challenge” where I dri...,NaN
1,1,1.0,1.0,0.0,RT @thehill: Black transgender woman found dea...,NaN
2,2,1.0,1.0,0.0,Guest Co Host: Men Like Us Podcast\n#StopTheHa...,NaN

In [228]:
topicID_data.drop(columns=['Unnamed: 0', 'LangID', 'HateLabel', 'TweetID'], inplace=True)

In [236]:
topicID_data['TopicID'].value_counts().sort_index(ascending=True)

0.0    11413
1.0    18689
2.0    35774
3.0    14536
4.0    12295
5.0     1338
6.0      313
Name: TopicID, dtype: int64

In [231]:
topicID_data.to_csv('../data/prepped/new_complete_topicID.csv')

### Mission 1: Rebalance HateLabel with Hate data

In [97]:
hatelabel_data.HateLabel.value_counts()

0.0    51003
1.0    48033
2.0    16520
Name: HateLabel, dtype: int64

In [ ]:
50000-16000

### x_hate dataset

In [18]:
x_hate_geo = pd.read_csv('../data/downloaded/xhate_gao_train.csv', delimiter='\t')
x_hate_trac = pd.read_csv('../data/downloaded/xhate_trac_train.csv', delimiter='\t')
x_hate_wul = pd.read_csv('../data/downloaded/xhate_wul_train.csv', delimiter='\t')

In [24]:
x_hate_concat = pd.concat([x_hate_geo,x_hate_trac,x_hate_wul])
x_hate_concat.rename(columns={'text': 'TweetText', 'label':'HateLabel'}, inplace=True)
x_hate_concat.replace({'HateLabel': {1:2}}, inplace=True)
# x_hate_concat = [x_hate_concat[x_hate_concat] == 2 ]

In [61]:
x_hate_ds = x_hate_concat.loc[x_hate_concat.HateLabel==2]
x_hate_ds

                                               TweetText  HateLabel
12     Nothing but bitter words from the Skunk-ape. N...          2
16     Time to vote out those who would put illegal a...          2
23     @liberalstupidity And its the reason-one of th...          2
24     First Lady ?? Are you serious ?? Looks like a ...          2
26     @lettermansinc I want a Bumper Sticker with mo...          2
...                                                  ...        ...
71676    ::::SjÃ¶ is pathetical. Consist (presently a...          2
71691    ==a sincere question== Why do you do what yo...          2
71713                           dwey fed her to the pigs          2
71729    Hey, Halcy.Seems like you get mad alot. Want...          2
71748    == little girl ==  stop deleting my stuff wh...          2

[15054 rows x 2 columns]

### Me too dataset

In [182]:
me_too_ma = pd.read_csv('../data/downloaded/MeTooMA.csv', index_col=False)

In [183]:
me_too_ma.drop(columns=['Country','Relevance','Generalized_Hate','Sarcasm', 'Allegation','Justification','Refutation','Support','Oppose'],inplace=True)
me_too_ma.rename(columns={'Directed_Hate': 'HateLabel', 'TweetId':'TweetID'}, inplace=True)

In [184]:
me_too_ma = me_too_ma[me_too_ma['HateLabel'] == 1]
me_too_ma.replace({'HateLabel' : {1.0: 2}},inplace=True)

In [185]:
me_too_ma.columns

Index(['TweetID', 'HateLabel'], dtype='object')

In [186]:
me_too_ma.to_csv('me_too_hatelabel.csv')

### Concatenating New HateLabel data

In [ ]:
hatelabel_data = pd.concat([concat_df, df_davidson,pr_hatecheck,dhg_hatelabel,x_hate_ds])