In [2]:
import pandas as pd

In [ ]:
concat_df = pd.read_csv('../data/prepped/concat_df.csv')
concat_df['HateLabel'].value_counts()

In [ ]:
concat_df.head(5)

In [ ]:
twitter_davinci = pd.read_csv('../data/prepped/twitter_davinci_ds.csv')
twitter_davinci['TopicID'].value_counts()

In [ ]:
nassl_df = pd.read_csv('../data/prepped/nassl_sex_race.csv', index_col=0)
nassl_df['TopicID'].value_counts()
nassl_df.head(5)

In [ ]:
nassl_twitter = pd.read_csv('../data/prepped/nassl_twitter_api_data.csv').dropna()
nassl_twitter

In [ ]:
pr_hatecheck = pd.read_csv('../data/prepped/paulrott_hatel2_topics.csv', index_col=0)
pr_hatecheck['TopicID'].value_counts()

In [ ]:
pr_hatecheck.HateLabel.value_counts()

In [ ]:
df_davidson = pd.read_csv('../data/prepped/df_davidson_hatelabel2.csv', index_col=0)
df_davidson.head(5)

In [104]:
dhg_hatelabel = pd.read_csv('../data/prepped/dhg_hatelabel.csv', index_col=0)
dhg_hatelabel.head(10)

                                            TweetText  HateLabel
0                                 dalits are lowlives          2
1              gay people are a burden to our society          2
2                               Arabs are not welcome          2
3   I'm not saying we should actually eliminate he...          2
4                        bananas are for black people          2
6   women can not reproduce kids but men can in al...          2
8                Who cares what Chinese people think?          2
9          i try to punch a letter box when i see one          2
10  I feel sorry for the poor little half caste bo...          2
12                               gays are purposeless          2

### Concatenating New HateLabel data

In [105]:
hatelabel_data = pd.concat([concat_df, df_davidson,pr_hatecheck,dhg_hatelabel])
hatelabel_data.HateLabel.value_counts()

0.0    51003
1.0    48033
2.0    31199
Name: HateLabel, dtype: int64

### Concatenating TopicID data

In [ ]:
topicID_data = pd.concat([twitter_davinci,pr_hatecheck, nassl_twitter])
topicID_data['TopicID'].value_counts()

### Mission 1: Rebalance HateLabel with Hate data

In [97]:
hatelabel_data.HateLabel.value_counts()

0.0    51003
1.0    48033
2.0    16520
Name: HateLabel, dtype: int64

In [ ]:
50000-16000

### x_hate dataset

In [18]:
x_hate_geo = pd.read_csv('../data/downloaded/xhate_gao_train.csv', delimiter='\t')
x_hate_trac = pd.read_csv('../data/downloaded/xhate_trac_train.csv', delimiter='\t')
x_hate_wul = pd.read_csv('../data/downloaded/xhate_wul_train.csv', delimiter='\t')

In [20]:
x_hate_concat = pd.concat([x_hate_geo,x_hate_trac,x_hate_wul])

0    67960
1    15054
Name: label, dtype: int64

In [26]:
x_hate_concat

                                               TweetText  HateLabel
0        @AlienNation @wayne230 Don't hold your breath.           0
1      @DemocracyManifest Very incorrect - the First ...          0
2      @prissy7 You will die from a heart attack befo...          0
3      @LarJass @Andrew917 @lgrngreen @rxwhitmer Noti...          0
4      @Catholica And he was given a one year, suspen...          0
...                                                  ...        ...
71749  According to Wikipedia guidelines it is correc...          0
71750    ` :::please continue the discussion at [].    `          0
71751  You'll find all sources state that he has not ...          0
71752    == Pictures Came in ==  Hi Rick I got the re...          0
71753    Please stop.  If you continue to vandalize p...          0

[83014 rows x 2 columns]

In [24]:
x_hate_concat.rename(columns={'text': 'TweetText', 'label':'HateLabel'}, inplace=True)

In [27]:
x_hate_concat.replace({'HateLabel': {1:2}}, inplace=True)

In [31]:
x_hate_concat = [x_hate_concat[x_hate_concat] == 2 ]
x_hate_concat

ValueError: Boolean array expected for the condition, not object

In [25]:
x_hate_concat.to_csv('x_hate_hatelable')

                                               TweetText  HateLabel
0        @AlienNation @wayne230 Don't hold your breath.           0
1      @DemocracyManifest Very incorrect - the First ...          0
2      @prissy7 You will die from a heart attack befo...          0
3      @LarJass @Andrew917 @lgrngreen @rxwhitmer Noti...          0
4      @Catholica And he was given a one year, suspen...          0
...                                                  ...        ...
71749  According to Wikipedia guidelines it is correc...          0
71750    ` :::please continue the discussion at [].    `          0
71751  You'll find all sources state that he has not ...          0
71752    == Pictures Came in ==  Hi Rick I got the re...          0
71753    Please stop.  If you continue to vandalize p...          0

[83014 rows x 2 columns]

### Me too dataset

In [92]:
me_too_ma = pd.read_csv('../data/as download/MeTooMA.csv', index_col=0)
me_too_ma = me_too_ma[me_too_ma['Directed_Hate'] == 1]

In [95]:
me_too_ma.drop(columns=['Country','Relevance','Generalized_Hate','Sarcasm', 'Allegation','Justification','Refutation','Support','Oppose'],inplace=True)

In [99]:
me_too_ma.rename(columns={'Directed_Hate': 'HateLabel'}, inplace=True)

In [100]:
me_too_ma

                     HateLabel
TweetId
1052156864840908800        1.0
1051939199195045890        1.0
1051816186516664320        1.0
1049549716919222272        1.0
1048892682389475329        1.0
...                        ...
1050195248385687552        1.0
1049344613398413317        1.0
1048608256162025472        1.0
1072858875987197952        1.0
1072049996776783872        1.0

[419 rows x 1 columns]