In [37]:
import pandas as pd
import requests

## Loading the entire dataset

### Finding the row we are at for the API tweet download

In [35]:
# Assuming your data frame is named "df" and the tweet ID column is named "tweet_id"
tweet_id_to_find = 1277742463248203776
filtered_df = df[df['TweetID'] == tweet_id_to_find]
filtered_df

                   TweetID  LangID  TopicID  HateLabel
34522  1277775034686287881       1        1          1

In [32]:
# Only focusing on English texts
df = df[df['LangID'] == 1]
df.head(5)

                   TweetID  LangID  TopicID  HateLabel
23891  1344794359233998850       1        1          0
23892  1344794162625916935       1        1          0
23893  1344794094837637121       1        1          0
23894  1344790842117140483       1        1          0
23895  1344788907360190465       1        1          0