### Making the for loop to get Tweet_text by Tweet_ID from API

### Downloading data from API

In [2]:
import pandas as pd

In [3]:
import requests

def get_text(id_number):

    url = "https://twitter135.p.rapidapi.com/v2/TweetDetail/"

    querystring = {"id":id_number}

    headers = {
    "X-RapidAPI-Key": "17f84b3e3dmsh705aa22617dea22p11e224jsn75fcf7665909",
    "X-RapidAPI-Host": "twitter135.p.rapidapi.com"
    }

    response = requests.get(url, headers=headers, params=querystring)

    return response.json()['data']['threaded_conversation_with_injections_v2']['instructions'][0]['entries'][0]['content']['itemContent']['tweet_results']['result']['legacy']['full_text']

In [6]:

# Read the CSV, with error handling
dfr = pd.read_csv('me_too_hatelabel.csv', error_bad_lines=False, lineterminator='\n', index_col=0)
# Check latest downloaded row to re-initiate data append from API into CSV
dfr.tail()

                  TweetID  HateLabel
9906  1050195248385687552        2.0
9929  1049344613398413317        2.0
9950  1048608256162025472        2.0
9954  1072858875987197952        2.0
9969  1072049996776783872        2.0

In [8]:
me_too_dataset = pd.read_csv('me_too_hatelabel.csv', error_bad_lines=False, lineterminator='\n', index_col=0)
me_too_dataset

                  TweetID  HateLabel
3     1052156864840908800        2.0
9     1051939199195045890        2.0
11    1051816186516664320        2.0
67    1049549716919222272        2.0
90    1048892682389475329        2.0
...                   ...        ...
9906  1050195248385687552        2.0
9929  1049344613398413317        2.0
9950  1048608256162025472        2.0
9954  1072858875987197952        2.0
9969  1072049996776783872        2.0

[419 rows x 2 columns]

In [9]:
import pandas as pd
import time
import tqdm
# for index, row in tqdm.tqdm(english_df.iloc[68597:,:].iterrows()):

for index, row in tqdm.tqdm(dfr.iterrows()):
    # time.sleep(0.125)  # to avoid hitting rate limits
    tweet_id = row['TweetID']
    try:
        tweet_text = get_text(tweet_id)
        row['TweetText'] = tweet_text
    except Exception as e:
        # print(f"Failed to fetch tweet with id {tweet_id}. Error: {e}")
        row['TweetText'] = 'N/A'  # or whatever you want to denote a failed fetch
    # append each row to csv file
    if index == 0: #FIRST ENGLISH TWEET
        row.to_frame().transpose().to_csv("twitter_me_too_hatelabel.csv", mode='w',header=True, index=False)
    else:
        row.to_frame().transpose().to_csv("twitter_me_too_hatelabel.csv", mode='a',header=False, index=False)

419it [07:06,  1.02s/it]