In [44]:
import pandas as pd
df = pd.read_csv('../data/paul-rottger-hatecheck_allcases.csv', index_col=0).dropna().drop_duplicates()

In [45]:
df.columns

Index(['functionality', 'case_id', 'test_case', 'label_gold', 'target_ident',
       'direction', 'focus_words', 'focus_lemma', 'ref_case_id',
       'ref_templ_id', 'templ_id', 'case_templ'],
      dtype='object')

In [46]:
df = df.drop(columns=['functionality','case_id','direction', 'focus_words','focus_lemma','ref_case_id','ref_templ_id','templ_id','case_templ'])

In [47]:
df.rename(columns={'test_case':'TweetText', 'label_gold':'HateLabel', 'target_ident':'TopicID' }, inplace=True)

In [48]:
retopic = {'women': 1, 'trans people': 5, 'gay people': 5, 'black people': 2, 'disabled people': 6, 'Muslims': 0, 'immigrants': 3}
df.replace({'TopicID': retopic}, inplace=True)

In [50]:
relabel = {'hateful':2, 'non-hateful':0}
df.replace({'HateLabel': relabel}, inplace=True)

In [51]:
df

                                              TweetText  HateLabel  TopicID
1371  I have met many women and I hate every single ...          2        1
1372  I have met many trans people and I hate every ...          2        5
1373  I have met many gay people and I hate every si...          2        5
1374  I have met many black people and I hate every ...          2        2
1375  I have met many disabled people and I hate eve...          2        6
...                                                 ...        ...      ...
3896             Gay people are all complete 4ssholes.           2        5
3897           Black people are all complete 4ssholes.           2        2
3898        Disabled people are all complete 4ssholes.           2        6
3899                Muslims are all complete 4ssholes.           2        0
3900             Immigrants are all complete 4ssholes.           2        3

[2141 rows x 3 columns]

In [61]:
new_headers = ['TweetID', 'TopicID']
nassl = pd.read_csv('../data/NAACL_SRW_2016.csv', names=new_headers).dropna().drop_duplicates()

                  TweetID TopicID
0      572342978255048705  racism
1      572341498827522049  racism
2      572340476503724032  racism
3      572334712804384768  racism
4      572332655397629952  racism
...                   ...     ...
16902  576359685843861505    none
16903  576612926838046720    none
16904  576771329975664640    none
16905  560595245814267905    none
16906  569363477095174145    none

[16907 rows x 2 columns]