In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/twitter_data.csv')

In [4]:
test_df = df[0:10]

In [5]:
test_df

               TweetID  LangID  TopicID  HateLabel TweetText
0  1344794359233998850       1        1          0        Na
1  1344794162625916935       1        1          0        Na
2  1344794094837637121       1        1          0        Na
3  1344790842117140483       1        1          0        Na
4  1344788907360190465       1        1          0        Na
5  1344788699549200388       1        1          0        Na
6  1344788434267869192       1        1          0        Na
7  1344787901180211201       1        1          0        Na
8  1344787899292651520       1        1          0        Na
9  1344786022026997760       1        0          2        Na

In [6]:
df.value_counts('HateLabel')

HateLabel
0    54151
1    12829
2     1617
dtype: int64

In [7]:
test_df

               TweetID  LangID  TopicID  HateLabel TweetText
0  1344794359233998850       1        1          0        Na
1  1344794162625916935       1        1          0        Na
2  1344794094837637121       1        1          0        Na
3  1344790842117140483       1        1          0        Na
4  1344788907360190465       1        1          0        Na
5  1344788699549200388       1        1          0        Na
6  1344788434267869192       1        1          0        Na
7  1344787901180211201       1        1          0        Na
8  1344787899292651520       1        1          0        Na
9  1344786022026997760       1        0          2        Na